---
layout: default
---

<div class="post">
  {{ content }}
</div>

<div class="meta">
  <span>{{page.title}}{% if page.author %} by {{page.author}}{% endif %}, {{ page.date | date_to_string }}{% if page.lastupdatedon %}, last updated on {{ page.lastupdatedon | date_to_string}}{% endif %}.</span><br/>
  {%if page.tags != empty %}<span>Tags: {% for tag in page.tags %}{{ tag }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}.</span><br/>{% endif %}
  <span>Check out more posts in the <a href="/blog">blog archive</a>.</span><br/>
  {% if page.next %}
    Next post: {{ page.next.date | date_to_string  }} - <a href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a>
    <br/>
  {% endif %}
  {% if page.previous %}
    Previous post: {{ page.previous.date | date_to_string  }} - <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
    <br/>
  {% endif %}
  Most recent posts:
  <ul>
    {% for post in site.posts limit:10 %}
      <li>{{ post.date | date_to_string  }} - <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
